<div class="sidebar-container">
  <div class="sidebar-logo">FOOD COSTA</div>
  <ul class="sidebar-navigation">
    <li *ngFor="let hero of routesArray; index as i">
      <a
        routerLink="{{ hero }}"
        [style.background-color]="onLink == i ? 'red' : ''"
        (click)="linkChange(i)"
      >
        <i class="fa fa-info-circle" aria-hidden="true"></i>{{ capital[i] }}</a
      >
    </li>
    <li>
      <a href="https://www.zomato.com/partner_with_us">Swiggy/Zomato</a>
    </li>
  </ul>
  <!--  -->
</div>
