<div class="div containdiv">
  <p class="headItems"><b>FOODCOSTA</b></p>
  <p class="headItemstwo">Ramji baba marg, In front of bus</p>
  <p class="headItemsThree">stand, Hoshangabad</p>
  <p class="headItemsFour">9111888460,8120225508</p>
  <b><hr /></b>
  Date:{{ date }}
  <hr />
</div>
<div class="div bodydiv">
  <div class="row">
    <div class="col-7">ITEM</div>
    <div class="col">QTY</div>
    <div class="col">PRICE</div>
  </div>
  ---------------------------------------------------------------------
  <!-- ITEM-----------------QUANTITY------PRICE -->
  <!-- <ul style="list-style-type: none;margin-left: 0px;"> -->
  <div *ngFor="let option of itemDetails; index as i">
    <div class="row">
      <div class="col-8">
        {{ option.item_name }}
      </div>
      <div class="col">
        {{ option.quantity }}
      </div>
      <div class="col">
        {{ option.rate }}
      </div>
    </div>
  </div>
  <!-- </ul> -->
  <div class="div containdiv">
    -------------------------------------------------------------------<br />
    <div class="row">
      <div class="col">Total Qty:{{ total_qua }}</div>
      <div class="col">Sub Total:{{ sub_total }}</div>
    </div>
    <br />-------------------------------------------------------------------
    <div class="row">
      <div class="col"><b>Grand Total</b>:{{ total }}</div>
      <div class="col">Discount:{{ discountAmount }}{{ discountType }}</div>
    </div>
    <br />-------------------------------------------------------------------
    <br />
  </div>
</div>
<!-- <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">ITEM</th>
        <th scope="col">QTY</th>
        <th scope="col">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of itemDetails; index as i">
        <td>{{ option.item_name }}</td>
        <td>{{ option.quantity }}</td>
        <td>{{ option.rate }}</td>
      </tr>
    </tbody>
  </table> -->
