<div class="heading">PURCHASE</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col">DISCOUNT</div>
    <div class="col">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          (change)="radioChange('percent')"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1">PERCENT</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          (change)="radioChange('flat')"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2">FLAT</label>
      </div>
    </div>
    <div class="col">
      <input
        type="number"
        (input)="onValInp(finalAmount.value)"
        #finalAmount
        class="form-control"
      />
    </div>
  </div>
  <div class="row marTop">
    <div class="col">FINAL AMOUNT</div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="confirmPafeInfo.discount"
      />
    </div>
  </div>
  <div class="row marTop">
    <div class="col">
      <button class="btn btn-primary" [mat-dialog-close]="confirmPafeInfo">
        OK
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
    </div>
  </div>
</div>
